/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

table tbody tr:hover {
  background-color: rgb(195, 255, 234);

  cursor: pointer;
}
.form-group > input {
  font-weight: bolder;
}
.form-group input:placeholder {
  color: rgb(228, 211, 211);
}
.form-group input > select {
  font-weight: bolder;
}
input.invalid {
  border-color: red;
}
.validation-error {
  width: "100%";
  // margin-top: 25em;
  font-size: 80%;
  color: #dd3535;
}
